<!DOCTYPE html>
<html lang="english">
  <head>
    <title>Category-TopCommunities</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button; -moz-appearance: button; -ms-appearance: button; appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div>
      <link href="./basicpage.css" rel="stylesheet" />

      <div class="basicpage-container">
        <div class="basicpage-basicpage">
          <div class="basicpage-title-bar">
            <a href="basicpage.html" class="basicpage-navlink">
              <img
                alt="LogoI116"
                src="public/playground_assets/logoi116-arz4.svg"
                class="basicpage-logo"
              />
            </a>
            <input
              type="text"
              placeholder="Search..."
              class="basicpage-user-input-search-bar"
            />
            <div class="basicpage-options">
              <a href="create-post.html" class="basicpage-navlink1">
                <img
                  alt="image39I116"
                  src="public/playground_assets/image39i116-mnl-200w.png"
                  class="basicpage-image39"
                />
              </a>
              <img
                alt="image28I116"
                src="public/playground_assets/image28i116-392o-200h.png"
                class="basicpage-image28"
              />
              <a href="profile.html" class="basicpage-navlink2">
                <img
                  alt="image27I116"
                  src="public/playground_assets/image27i116-2gar-200w.png"
                  class="basicpage-image27"
                />
              </a>
              <img
                alt="image31I116"
                src="public/playground_assets/image31i116-1g2-200h.png"
                class="basicpage-image31"
              />
            </div>
          </div>
          <div class="basicpage-frame">
            <div class="basicpage-sidebar">
              <div class="basicpage-top-section">
                <span class="basicpage-text"><span>Top Board</span></span>
                <span class="basicpage-text02"><span>Following</span></span>
                <span class="basicpage-text04"><span>Top Posts</span></span>
                <span class="basicpage-text06"><span>Top Karma</span></span>
                <span class="basicpage-text08">
                  <span>Top Communitites</span>
                </span>
              </div>
              <div class="basicpage-catergory-section">
                <span class="basicpage-text10"><span>Academics</span></span>
                <span class="basicpage-text12"><span>Campus Life</span></span>
                <span class="basicpage-text14"><span>Events</span></span>
                <span class="basicpage-text16"><span>Sports</span></span>
                <span class="basicpage-text18"><span>Clubs</span></span>
                <span class="basicpage-text20"><span>Research</span></span>
                <span class="basicpage-text22">
                  <span>Career Services</span>
                </span>
                <span class="basicpage-text24"><span>IITD News</span></span>
                <span class="basicpage-text26"><span>Technology</span></span>
                <span class="basicpage-text28">
                  <span>Alumni Relations</span>
                </span>
                <span class="basicpage-text30">
                  <span>Student Government</span>
                </span>
                <span class="basicpage-text32">
                  <span>Entrepreneurship</span>
                </span>
                <span class="basicpage-text34">
                  <span>General Championship</span>
                </span>
                <span class="basicpage-text36">
                  <span>College Festivals</span>
                </span>
              </div>
            </div>
            <div class="basicpage-academiccommunities">
              <div class="basicpage-heading">
                <span class="basicpage-text38"><span>Academics</span></span>
              </div>
              <div class="basicpage-option-line">
                <a href="category-page-top-posts.html" class="basicpage-text40">
                  <span class="basicpage-text41">TOP COMMUNITY</span>
                  <span class="basicpage-text42">|</span>
                  <span class="basicpage-text43">TOP POSTS</span>
                </a>
                <a href="create-community.html" class="basicpage-text44">
                  <span>[ Create a new Community ]</span>
                </a>
              </div>
              <div class="basicpage-community-list">
                <a href="community-page.html" class="basicpage-navlink3">
                  <div class="basicpage-communtitybar">
                    <div class="basicpage-frame24">
                      <img
                        alt="Ellipse3I117"
                        src="public/playground_assets/ellipse3i117-zd2-200h.png"
                        class="basicpage-ellipse3"
                      />
                      <div class="basicpage-community-about">
                        <span class="basicpage-text46">Community 1</span>
                        <span class="basicpage-text47"><span>About</span></span>
                      </div>
                    </div>
                    <button class="basicpage-follow-button"></button>
                    <button class="basicpage-follow-button01">
                      <span class="basicpage-text49"><span>Follow</span></span>
                    </button>
                  </div>
                </a>
                <div class="basicpage-communtitybar1">
                  <div class="basicpage-frame241">
                    <img
                      alt="Ellipse3I117"
                      src="public/playground_assets/ellipse3i117-4f6w-200h.png"
                      class="basicpage-ellipse31"
                    />
                    <div class="basicpage-community-about1">
                      <span class="basicpage-text51">
                        <span>Community 2</span>
                      </span>
                      <span class="basicpage-text53"><span>About</span></span>
                    </div>
                  </div>
                  <button class="basicpage-follow-button02"></button>
                  <button class="basicpage-follow-button03">
                    <span class="basicpage-text55"><span>Follow</span></span>
                  </button>
                </div>
                <div class="basicpage-communtitybar2">
                  <div class="basicpage-frame242">
                    <img
                      alt="Ellipse3I117"
                      src="public/playground_assets/ellipse3i117-xxsk-200h.png"
                      class="basicpage-ellipse32"
                    />
                    <div class="basicpage-community-about2">
                      <span class="basicpage-text57">
                        <span>Community 3</span>
                      </span>
                      <span class="basicpage-text59"><span>About</span></span>
                    </div>
                  </div>
                  <button class="basicpage-follow-button04"></button>
                  <button class="basicpage-follow-button05">
                    <span class="basicpage-text61"><span>Follow</span></span>
                  </button>
                </div>
                <div class="basicpage-communtitybar3">
                  <div class="basicpage-frame243">
                    <img
                      alt="Ellipse3I118"
                      src="public/playground_assets/ellipse3i118-ghr6-200h.png"
                      class="basicpage-ellipse33"
                    />
                    <div class="basicpage-community-about3">
                      <span class="basicpage-text63">
                        <span>Community 4</span>
                      </span>
                      <span class="basicpage-text65"><span>About</span></span>
                    </div>
                  </div>
                  <button class="basicpage-follow-button06"></button>
                  <button class="basicpage-follow-button07">
                    <span class="basicpage-text67"><span>Follow</span></span>
                  </button>
                </div>
                <div class="basicpage-communtitybar4">
                  <div class="basicpage-frame244">
                    <img
                      alt="Ellipse3I118"
                      src="public/playground_assets/ellipse3i118-i28w-200h.png"
                      class="basicpage-ellipse34"
                    />
                    <div class="basicpage-community-about4">
                      <span class="basicpage-text69">
                        <span>Community 5</span>
                      </span>
                      <span class="basicpage-text71"><span>About</span></span>
                    </div>
                  </div>
                  <button class="basicpage-follow-button08"></button>
                  <button class="basicpage-follow-button09">
                    <span class="basicpage-text73"><span>Follow</span></span>
                  </button>
                </div>
                <div class="basicpage-communtitybar5">
                  <div class="basicpage-frame245">
                    <img
                      alt="Ellipse3I118"
                      src="public/playground_assets/ellipse3i118-0xu4-200h.png"
                      class="basicpage-ellipse35"
                    />
                    <div class="basicpage-community-about5">
                      <span class="basicpage-text75">
                        <span>Community 6</span>
                      </span>
                      <span class="basicpage-text77"><span>About</span></span>
                    </div>
                  </div>
                  <button class="basicpage-follow-button10"></button>
                  <button class="basicpage-follow-button11">
                    <span class="basicpage-text79"><span>Follow</span></span>
                  </button>
                </div>
                <div class="basicpage-communtitybar6">
                  <div class="basicpage-frame246">
                    <img
                      alt="Ellipse3I118"
                      src="public/playground_assets/ellipse3i118-i12t-200h.png"
                      class="basicpage-ellipse36"
                    />
                    <div class="basicpage-community-about6">
                      <span class="basicpage-text81">
                        <span>Community 7</span>
                      </span>
                      <span class="basicpage-text83"><span>About</span></span>
                    </div>
                  </div>
                  <button class="basicpage-follow-button12"></button>
                  <button class="basicpage-follow-button13">
                    <span class="basicpage-text85"><span>Follow</span></span>
                  </button>
                </div>
                <div class="basicpage-communtitybar7">
                  <div class="basicpage-frame247">
                    <img
                      alt="Ellipse3I118"
                      src="public/playground_assets/ellipse3i118-wkkt-200h.png"
                      class="basicpage-ellipse37"
                    />
                    <div class="basicpage-community-about7">
                      <span class="basicpage-text87">
                        <span>Community 8</span>
                      </span>
                      <span class="basicpage-text89"><span>About</span></span>
                    </div>
                  </div>
                  <button class="basicpage-follow-button14"></button>
                  <button class="basicpage-follow-button15">
                    <span class="basicpage-text91"><span>Follow</span></span>
                  </button>
                </div>
                <div class="basicpage-communtitybar8">
                  <div class="basicpage-frame248">
                    <img
                      alt="Ellipse3I118"
                      src="public/playground_assets/ellipse3i118-wrfk-200h.png"
                      class="basicpage-ellipse38"
                    />
                    <div class="basicpage-community-about8">
                      <span class="basicpage-text93">
                        <span>Community 9</span>
                      </span>
                      <span class="basicpage-text95"><span>About</span></span>
                    </div>
                  </div>
                  <button class="basicpage-follow-button16"></button>
                  <button class="basicpage-follow-button17">
                    <span class="basicpage-text97"><span>Follow</span></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
