<!DOCTYPE html>
<html lang="english">
  <head>
    <title>Catgory-TopPosts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button; -moz-appearance: button; -ms-appearance: button; appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}" /> 
  </head>
  <body>
    <div>
      <link rel="stylesheet" href="{{ url_for('static', filename= 'category-page-top-posts.css') }}" />

      <div class="category-page-top-posts-container">
        <div class="category-page-top-posts-category-page-top-posts">
          <div class="category-page-top-posts-title-bar">
            <a href="basicpage.html" class="category-page-top-posts-navlink">
              <img
                alt="LogoI113"
                src="public/playground_assets/logoi113-6mt9.svg"
                class="category-page-top-posts-logo"
              />
            </a>
            <input
              type="text"
              placeholder="Search..."
              class="category-page-top-posts-user-input-search-bar"
            />
            <div class="category-page-top-posts-options">
              <a
                href="create-post.html"
                class="category-page-top-posts-navlink1"
              >
                <img
                  alt="image39I113"
                  src="public/playground_assets/image39i113-ju4-200w.png"
                  class="category-page-top-posts-image39"
                />
              </a>
              <img
                alt="image28I113"
                src="public/playground_assets/image28i113-698j-200h.png"
                class="category-page-top-posts-image28"
              />
              <a href="profile.html" class="category-page-top-posts-navlink2">
                <img
                  alt="image27I113"
                  src="public/playground_assets/image27i113-mc6u-200w.png"
                  class="category-page-top-posts-image27"
                />
              </a>
              <img
                alt="image31I113"
                src="public/playground_assets/image31i113-xc18-200h.png"
                class="category-page-top-posts-image31"
              />
            </div>
          </div>
          <div class="category-page-top-posts-frame11">
            <div class="category-page-top-posts-sidebar">
              <div class="category-page-top-posts-top-section">
                <span class="category-page-top-posts-text">
                  <span>Top Board</span>
                </span>
                <span class="category-page-top-posts-text002">
                  <span>Following</span>
                </span>
                <span class="category-page-top-posts-text004">
                  <span>Top Posts</span>
                </span>
                <span class="category-page-top-posts-text006">
                  <span>Top Karma</span>
                </span>
                <span class="category-page-top-posts-text008">
                  <span>Top Communitites</span>
                </span>
              </div>
              <div class="category-page-top-posts-catergory-section">
                <span class="category-page-top-posts-text010">
                  <span>Academics</span>
                </span>
                <span class="category-page-top-posts-text012">
                  <span>Campus Life</span>
                </span>
                <span class="category-page-top-posts-text014">
                  <span>Events</span>
                </span>
                <span class="category-page-top-posts-text016">
                  <span>Sports</span>
                </span>
                <span class="category-page-top-posts-text018">
                  <span>Clubs</span>
                </span>
                <span class="category-page-top-posts-text020">
                  <span>Research</span>
                </span>
                <span class="category-page-top-posts-text022">
                  <span>Career Services</span>
                </span>
                <span class="category-page-top-posts-text024">
                  <span>IITD News</span>
                </span>
                <span class="category-page-top-posts-text026">
                  <span>Technology</span>
                </span>
                <span class="category-page-top-posts-text028">
                  <span>Alumni Relations</span>
                </span>
                <span class="category-page-top-posts-text030">
                  <span>Student Government</span>
                </span>
                <span class="category-page-top-posts-text032">
                  <span>Entrepreneurship</span>
                </span>
                <span class="category-page-top-posts-text034">
                  <span>General Championship</span>
                </span>
                <span class="category-page-top-posts-text036">
                  <span>College Festivals</span>
                </span>
              </div>
            </div>
            <div class="category-page-top-posts-contentframe">
              <div class="category-page-top-posts-heading">
                <span class="category-page-top-posts-text038">
                  <span>Academics</span>
                </span>
              </div>
              <div class="category-page-top-posts-option-line">
                <a
                  href="basicpage.html"
                  class="category-page-top-posts-text040"
                >
                  <span class="category-page-top-posts-text041">
                    TOP COMMUNITY
                  </span>
                  <span class="category-page-top-posts-text042">|</span>
                  <span class="category-page-top-posts-text043">TOP POSTS</span>
                </a>
                <a
                  href="create-community.html"
                  class="category-page-top-posts-text044"
                >
                  [ Create a new Community ]
                </a>
              </div>
              <div class="category-page-top-posts-postframe">
                <div class="category-page-top-posts-content">
                  <div class="category-page-top-posts-ntc-pic">
                    <div class="category-page-top-posts-ntcp">
                      <img
                        alt="Ellipse3I114"
                        src="public/playground_assets/ellipse3i114-19dd-200h.png"
                        class="category-page-top-posts-ellipse3"
                      />
                      <div class="category-page-top-posts-ntc">
                        <div class="category-page-top-posts-name-time">
                          <a
                            href="profile.html"
                            class="category-page-top-posts-text045"
                          >
                            <span>Name</span>
                          </a>
                          <span class="category-page-top-posts-text047">
                            <span>11:52 pm</span>
                          </span>
                        </div>
                        <a
                          href="community-page.html"
                          class="category-page-top-posts-text049"
                        >
                          <span>Community 4</span>
                        </a>
                      </div>
                    </div>
                    <img
                      alt="Rectangle89I114"
                      src="public/playground_assets/rectangle89i114-rmwp.svg"
                      class="category-page-top-posts-rectangle89"
                    />
                  </div>
                  <a
                    href="post-page.html"
                    class="category-page-top-posts-navlink3"
                  >
                    <div class="category-page-top-posts-title-text">
                      <span class="category-page-top-posts-text051">
                        <span>Title</span>
                      </span>
                      <span class="category-page-top-posts-text053">
                        <span>
                          <span>
                            nshdshs kdsjd llfdnlksdnfkl nsakfldslj kfsj
                            dkfbdskjlfjlkack ssdjsk daljlsjdkla
                            jdklsjalksjdkaskdja djsaklj dskljdakljsd lkads
                            sanana dsanmd na,n
                            smdnam,sdna,msdasmdn,andmds,nda,snda
                            msdnas,dnsadsndkasn dsnad,adsad nasdnsa,dn,as
                            mdas,dnsm,nd,amn sdm,na,sddasnf,md,sfsdfdsfdsth
                            stgvdag rg adffg addrgaa ergrt wewrw ww erwe.
                          </span>
                          <br />
                          <span>ksakjfojasdffj</span>
                          <br />
                          <span>
                            asdoasdj ajsdopffaijds ffasdofaj dsjg asdijasd
                          </span>
                          <br />
                          <span>
                            asdfasd pjadij papposkdpofip apsokdfpf[a[sd[fp
                            [oa[ospd
                          </span>
                          <br />
                          <span></span>
                        </span>
                      </span>
                    </div>
                  </a>
                  <div class="category-page-top-posts-post-options">
                    <img
                      alt="image20I114"
                      src="public/playground_assets/image20i114-aymn-200h.png"
                      class="category-page-top-posts-image20"
                    />
                    <span class="category-page-top-posts-text064">
                      <span>
                        <span>100k</span>
                        <br />
                        <span></span>
                      </span>
                    </span>
                    <img
                      alt="image32I114"
                      src="public/playground_assets/image32i114-5qic-200h.png"
                      class="category-page-top-posts-image32"
                    />
                    <span class="category-page-top-posts-text069">
                      <span>2k</span>
                    </span>
                    <a
                      href="post-page.html"
                      class="category-page-top-posts-navlink4"
                    >
                      <img
                        alt="image21I114"
                        src="public/playground_assets/image21i114-6yq-200h.png"
                        class="category-page-top-posts-image21"
                      />
                    </a>
                    <span class="category-page-top-posts-text071">
                      <span>2.5k</span>
                    </span>
                    <img
                      alt="image33I114"
                      src="public/playground_assets/image33i114-0y86-200h.png"
                      class="category-page-top-posts-image33"
                    />
                  </div>
                </div>
                <div class="category-page-top-posts-content1">
                  <div class="category-page-top-posts-ntc-pic1">
                    <div class="category-page-top-posts-ntcp1">
                      <img
                        alt="Ellipse3I114"
                        src="public/playground_assets/ellipse3i114-5ojj-200h.png"
                        class="category-page-top-posts-ellipse31"
                      />
                      <div class="category-page-top-posts-ntc1">
                        <div class="category-page-top-posts-name-time1">
                          <span class="category-page-top-posts-text073">
                            <span>Name</span>
                          </span>
                          <span class="category-page-top-posts-text075">
                            <span>9:34 am</span>
                          </span>
                        </div>
                        <span class="category-page-top-posts-text077">
                          <span>Community 3</span>
                        </span>
                      </div>
                    </div>
                    <img
                      alt="Rectangle89I114"
                      src="public/playground_assets/rectangle89i114-kr1.svg"
                      class="category-page-top-posts-rectangle891"
                    />
                  </div>
                  <div class="category-page-top-posts-title-text1">
                    <span class="category-page-top-posts-text079">
                      <span>Title</span>
                    </span>
                    <span class="category-page-top-posts-text081">
                      <span>
                        <span>
                          kzdfgnjdf gjsdfggkn sdfjgj dsjgsuggh spdofjg
                          sdfgg]sdfggh dsfgf
                        </span>
                        <br />
                        <span>
                          dsfjgo sdgojsdpoigfjsodifjgoisjrogjs
                          eiurhajrguhsdf’lfgj s;kdffg;sdjgnsdgsdfkjg odijfg
                          ooffjgof dfgj sdrgn sdf
                        </span>
                        <br />
                        <span>sd;ghs</span>
                        <br />
                        <span>dg ‘sdigh sdffjg sodfg</span>
                        <br />
                        <span>
                          dsfg sDgsidg sdoijg osdfgf sdlkfkg skdjfng ‘skdf g
                        </span>
                        <br />
                        <span>sfdgSDFg</span>
                        <br />
                        <span>gfs’df g</span>
                        <br />
                        <span>dsfgsdf gdsfjg osdjf gsdnfgj sdofgjnsdfgdf.</span>
                        <br />
                        <span>sdnfg jsjdfgjsdfjglsdjfgkljsdjlfgj</span>
                      </span>
                    </span>
                  </div>
                  <div class="category-page-top-posts-post-options1">
                    <img
                      alt="image20I114"
                      src="public/playground_assets/image20i114-avtr-200h.png"
                      class="category-page-top-posts-image201"
                    />
                    <span class="category-page-top-posts-text100">
                      <span>
                        <span>47k</span>
                        <br />
                        <span></span>
                      </span>
                    </span>
                    <img
                      alt="image32I114"
                      src="public/playground_assets/image32i114-c2i-200h.png"
                      class="category-page-top-posts-image321"
                    />
                    <span class="category-page-top-posts-text105">
                      <span>1k</span>
                    </span>
                    <img
                      alt="image21I114"
                      src="public/playground_assets/image21i114-iivr-200h.png"
                      class="category-page-top-posts-image211"
                    />
                    <span class="category-page-top-posts-text107">
                      <span>1.1k</span>
                    </span>
                    <img
                      alt="image33I114"
                      src="public/playground_assets/image33i114-aygo-200h.png"
                      class="category-page-top-posts-image331"
                    />
                  </div>
                </div>
                <div class="category-page-top-posts-content2">
                  <div class="category-page-top-posts-ntc-pic2">
                    <div class="category-page-top-posts-ntcp2">
                      <img
                        alt="Ellipse3I114"
                        src="public/playground_assets/ellipse3i114-a2ka-200h.png"
                        class="category-page-top-posts-ellipse32"
                      />
                      <div class="category-page-top-posts-ntc2">
                        <div class="category-page-top-posts-name-time2">
                          <span class="category-page-top-posts-text109">
                            <span>Name</span>
                          </span>
                          <span class="category-page-top-posts-text111">
                            <span>1:15 pm</span>
                          </span>
                        </div>
                        <span class="category-page-top-posts-text113">
                          <span>Community 8</span>
                        </span>
                      </div>
                    </div>
                    <img
                      alt="Rectangle89I114"
                      src="public/playground_assets/rectangle89i114-q3gs.svg"
                      class="category-page-top-posts-rectangle892"
                    />
                  </div>
                  <div class="category-page-top-posts-title-text2">
                    <span class="category-page-top-posts-text115">
                      <span>Title</span>
                    </span>
                    <span class="category-page-top-posts-text117">
                      <span>
                        <span>
                          soiuhrgh sfifdgnskdmnfjgh rkjfjerngl;rg sidjfogs odj
                          owejijw jij pkgmlk spdgj skdgnl sd flmg
                        </span>
                        <br />
                        <span>
                          dfgsd fgjsdfgp dsfgpspp dpfoofo sdpfg p ksodkfg
                        </span>
                        <br />
                        <span>dpfkgsdfp gk</span>
                        <br />
                        <span>
                          sdlkfjgj sjdfigjs dfokg sdffgjsdfj
                          gksdfgkldflkjglkjflg
                        </span>
                        <br />
                        <span>dflkgldjfg sdfjg</span>
                        <br />
                        <span>
                          sdfjg sjdfgjsdfjgl skjdlkfj gljskdlfkgj sdjfg
                        </span>
                        <br />
                        <span>
                          sfdksjdlgjsldfjg lsjdlfjgijigjoerj sfjg ;s.dmfg
                        </span>
                        <br />
                        <span>sdfkjgsjfgj jsdlkfglksjdfg</span>
                        <br />
                        <span>sdflgj sldfjg;sdkfgjsdfigjjoidjfgjo dfpgok</span>
                      </span>
                    </span>
                  </div>
                  <div class="category-page-top-posts-post-options2">
                    <img
                      alt="image20I114"
                      src="public/playground_assets/image20i114-k2ft-200h.png"
                      class="category-page-top-posts-image202"
                    />
                    <span class="category-page-top-posts-text136">
                      <span>
                        <span>20k</span>
                        <br />
                        <span></span>
                      </span>
                    </span>
                    <img
                      alt="image32I114"
                      src="public/playground_assets/image32i114-ra3f-200h.png"
                      class="category-page-top-posts-image322"
                    />
                    <span class="category-page-top-posts-text141">
                      <span>500</span>
                    </span>
                    <img
                      alt="image21I114"
                      src="public/playground_assets/image21i114-865g-200h.png"
                      class="category-page-top-posts-image212"
                    />
                    <span class="category-page-top-posts-text143">
                      <span>1.2k</span>
                    </span>
                    <img
                      alt="image33I114"
                      src="public/playground_assets/image33i114-hotc-200h.png"
                      class="category-page-top-posts-image332"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
