<!DOCTYPE html>
<html lang="english">
  <head>
    <title>Post Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button; -moz-appearance: button; -ms-appearance: button; appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}" /> 
  </head>
  <body>
    <div>
      <link rel="stylesheet" href="{{ url_for('static', filename= 'post-page.css') }}" />

      <div class="post-page-container">
        <div class="post-page-post-page"></div>
        <div class="post-page-post-page1">
          <div class="post-page-title-bar">
            <a href="basicpage.html" class="post-page-navlink">
              <img
                alt="LogoI356"
                src="public/playground_assets/logoi356-a3a.svg"
                class="post-page-logo"
              />
            </a>
            <input
              type="text"
              placeholder="Search..."
              class="post-page-user-input-search-bar"
            />
            <div class="post-page-options">
              <a href="create-post.html" class="post-page-navlink1">
                <img
                  alt="image39I356"
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/9d22d08e-91fb-461f-a468-b6de70af82c5/3f4c48ca-d033-4fe1-8955-ee3a4518109e?org_if_sml=1521"
                  class="post-page-image39"
                />
              </a>
              <img
                alt="image28I356"
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/9d22d08e-91fb-461f-a468-b6de70af82c5/d96354ce-b1b9-4ee7-b144-c0fb435f7318?org_if_sml=11197"
                class="post-page-image28"
              />
              <a href="profile.html" class="post-page-navlink2">
                <img
                  alt="image27I356"
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/9d22d08e-91fb-461f-a468-b6de70af82c5/242ec6bf-06d9-4655-b207-2d99f6c70107?org_if_sml=11214"
                  class="post-page-image27"
                />
              </a>
              <img
                alt="image31I356"
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/9d22d08e-91fb-461f-a468-b6de70af82c5/49660be1-4ae3-4705-a521-bb9dd071bb19?org_if_sml=1599"
                class="post-page-image31"
              />
            </div>
          </div>
          <div class="post-page-post-sidebar">
            <div class="post-page-sidebar">
              <div class="post-page-top-section">
                <span class="post-page-text"><span>Top Board</span></span>
                <span class="post-page-text02"><span>Following</span></span>
                <span class="post-page-text04"><span>Top Posts</span></span>
                <span class="post-page-text06"><span>Top Karma</span></span>
                <span class="post-page-text08">
                  <span>Top Communitites</span>
                </span>
              </div>
              <div class="post-page-catergory-section">
                <span class="post-page-text10"><span>Academics</span></span>
                <span class="post-page-text12"><span>Campus Life</span></span>
                <span class="post-page-text14"><span>Events</span></span>
                <span class="post-page-text16"><span>Sports</span></span>
                <span class="post-page-text18"><span>Clubs</span></span>
                <span class="post-page-text20"><span>Research</span></span>
                <span class="post-page-text22">
                  <span>Career Services</span>
                </span>
                <span class="post-page-text24"><span>IITD News</span></span>
                <span class="post-page-text26"><span>Technology</span></span>
                <span class="post-page-text28">
                  <span>Alumni Relations</span>
                </span>
                <span class="post-page-text30">
                  <span>Student Government</span>
                </span>
                <span class="post-page-text32">
                  <span>Entrepreneurship</span>
                </span>
                <span class="post-page-text34">
                  <span>General Championship</span>
                </span>
                <span class="post-page-text36">
                  <span>College Festivals</span>
                </span>
              </div>
            </div>
            <div class="post-page-full-post-comments">
              <div class="post-page-ncpdt">
                <div class="post-page-ncp">
                  <img
                    alt="Ellipse43568"
                    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/9d22d08e-91fb-461f-a468-b6de70af82c5/57dea535-4206-42b3-ab5d-927d689c7d46?org_if_sml=11499"
                    class="post-page-ellipse4"
                  />
                  <div class="post-page-name-community">
                    <a href="profile.html" class="post-page-text38">
                      <span>Name_1</span>
                    </a>
                  </div>
                </div>
                <div class="post-page-date-time">
                  <span class="post-page-text40"><span>4:57 pm</span></span>
                  <span class="post-page-text42"><span>10/2/2004</span></span>
                </div>
              </div>
              <div class="post-page-post-box">
                <span class="post-page-text44"><span>Title</span></span>
                <div class="post-page-post-frame">
                  <div class="post-page-frame28">
                    <div class="post-page-post-image"></div>
                  </div>
                  <span class="post-page-text46">
                    <span>
                      <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Integer nunc dui, ultricies vel rutrum id, tincidunt vel
                        risus. Phasellus id porta neque. Ut non maximus ipsum.
                        Curabitur vel orci mi. Maecenas cursus eleifend rhoncus.
                        Proin risus mauris, suscipit id scelerisque in,
                        fringilla nec eros. Maecenas odio libero, lacinia sit
                        amet velit non, eleifend cursus nisl. Sed sollicitudin,
                        tortor dapibus maximus commodo, augue nibh luctus nibh,
                        non laoreet leo erat at mi.
                      </span>
                      <br />
                      <span>
                        Nullam erat mauris, mattis et tincidunt non, ornare
                        vitae augue. Suspendisse nunc erat, ultricies quis orci
                        ac, hendrerit varius dolor. Cras ex elit, blandit sit
                        amet elit eu, viverra pharetra nulla. Ut pulvinar, nunc
                        at cursus euismod, nisi odio ullamcorper ex, eu dapibus
                        odio ipsum molestie nisi. Aliquam ut tempus enim. Etiam
                        nec mauris ut tortor bibendum vulputate nec vitae ex.
                        Cras volutpat condimentum lacinia. Fusce ac diam finibus
                        quam dapibus imperdiet viverra eu purus. Etiam maximus
                        ut nulla eget venenatis. Cras dapibus nec sapien ut
                        molestie. Morbi fringilla malesuada semper. Curabitur
                        interdum interdum mauris, id faucibus justo tempus
                        euismod. Morbi ex justo, lacinia elementum blandit vel,
                        bibendum nec orci. Praesent pharetra ligula nec nisi
                        vulputate imperdiet. Nullam porttitor, massa sit amet
                        tincidunt maximus, nulla urna dapibus purus, porttitor
                        consectetur ipsum purus et elit.
                      </span>
                    </span>
                  </span>
                </div>
                <div class="post-page-options1">
                  <div class="post-page-frame29">
                    <img
                      alt="image203569"
                      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/9d22d08e-91fb-461f-a468-b6de70af82c5/ae742c5c-e833-4502-a30d-e8eae54887eb?org_if_sml=11357"
                      class="post-page-image20"
                    />
                  </div>
                  <div class="post-page-frame30">
                    <img
                      alt="image323569"
                      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/9d22d08e-91fb-461f-a468-b6de70af82c5/eb60a91e-b26d-4677-95f8-babaa7da7687?org_if_sml=11669"
                      class="post-page-image32"
                    />
                  </div>
                  <div class="post-page-frame31">
                    <img
                      alt="image213569"
                      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/9d22d08e-91fb-461f-a468-b6de70af82c5/85f23267-e33a-4dbf-8fd3-333f51d8f0a6?org_if_sml=1885"
                      class="post-page-image21"
                    />
                  </div>
                  <img
                    alt="image333570"
                    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/9d22d08e-91fb-461f-a468-b6de70af82c5/59451736-525f-4d01-ac79-8f40aa5673e5?org_if_sml=1932"
                    class="post-page-image33"
                  />
                </div>
              </div>
              <div class="post-page-commenting-part">
                <div class="post-page-comment-box">
                  <div class="post-page-frame33">
                    <span class="post-page-text51">
                      <span>
                        <span>Add your comment here....</span>
                        <br />
                        <span></span>
                        <br />
                        <span></span>
                      </span>
                    </span>
                  </div>
                  <div class="post-page-comment-frame">
                    <button class="post-page-comment-button">
                      <div class="post-page-comment">
                        <span class="post-page-text58">
                          <span>Comment</span>
                        </span>
                      </div>
                    </button>
                  </div>
                </div>
                <div class="post-page-user-comments">
                  <div class="post-page-comment1">
                    <div class="post-page-name--ic-time">
                      <div class="post-page-name-pic">
                        <img
                          alt="Ellipse53570"
                          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/9d22d08e-91fb-461f-a468-b6de70af82c5/6e8cc37b-0f31-437b-af44-5599dcef9a3b?org_if_sml=1561"
                          class="post-page-ellipse5"
                        />
                        <a href="profile.html" class="post-page-text60">
                          <span>Name</span>
                        </a>
                      </div>
                      <div class="post-page-date-time1">
                        <span class="post-page-text62">
                          <span>4:57 pm</span>
                        </span>
                        <span class="post-page-text64">
                          <span>10/2/2004</span>
                        </span>
                      </div>
                    </div>
                    <div class="post-page-text66">
                      <span class="post-page-text67">
                        <span>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Integer nunc dui, ultricies vel rutrum id,
                          tincidunt vel risus. Phasellus id porta neque. Ut non
                          maximus ipsum. Curabitur vel orci mi. Maecenas cursus
                          eleifend rhoncus. Proin risus mauris, suscipit id
                          scelerisque in, fringilla nec eros. Maecenas odio
                          libero, lacinia sit amet.
                        </span>
                      </span>
                    </div>
                    <div class="post-page-votes">
                      <div class="post-page-frame291">
                        <img
                          alt="image203675"
                          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/9d22d08e-91fb-461f-a468-b6de70af82c5/9f5ef1e0-115c-40fe-bb7c-c3cf7bf93179?org_if_sml=11364"
                          class="post-page-image201"
                        />
                      </div>
                      <div class="post-page-frame301">
                        <img
                          alt="image323675"
                          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/9d22d08e-91fb-461f-a468-b6de70af82c5/7e798385-4d49-4bc8-81bc-13b96b452f85?org_if_sml=11673"
                          class="post-page-image321"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="post-page-comment2">
                    <div class="post-page-name--ic-time1">
                      <div class="post-page-name-pic1">
                        <img
                          alt="Ellipse53676"
                          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/9d22d08e-91fb-461f-a468-b6de70af82c5/0817e49f-4e1a-439e-92b5-72619abac8ba?org_if_sml=1555"
                          class="post-page-ellipse51"
                        />
                        <span class="post-page-text69"><span>Name</span></span>
                      </div>
                      <div class="post-page-date-time2">
                        <span class="post-page-text71">
                          <span>4:57 pm</span>
                        </span>
                        <span class="post-page-text73">
                          <span>10/2/2004</span>
                        </span>
                      </div>
                    </div>
                    <div class="post-page-text75">
                      <span class="post-page-text76">
                        <span>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Integer nunc dui, ultricies vel rutrum id,
                          tincidunt vel risus. Phasellus id porta neque. Ut non
                          maximus ipsum. Curabitur vel orci mi. Maecenas cursus
                          eleifend rhoncus. Proin risus mauris, suscipit id
                          scelerisque in, fringilla nec eros. Maecenas odio
                          libero, lacinia sit amet.
                        </span>
                      </span>
                    </div>
                    <div class="post-page-votes1">
                      <div class="post-page-frame292">
                        <img
                          alt="image203677"
                          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/9d22d08e-91fb-461f-a468-b6de70af82c5/dd0ec95a-7823-4121-907c-f7aeb8df2b55?org_if_sml=11329"
                          class="post-page-image202"
                        />
                      </div>
                      <div class="post-page-frame302">
                        <img
                          alt="image323677"
                          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/9d22d08e-91fb-461f-a468-b6de70af82c5/b27c21af-6137-4270-9384-a099b3b1e4ee?org_if_sml=11668"
                          class="post-page-image322"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="post-page-comment3">
                    <div class="post-page-name--ic-time2">
                      <div class="post-page-name-pic2">
                        <img
                          alt="Ellipse53678"
                          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/9d22d08e-91fb-461f-a468-b6de70af82c5/d39b3b61-6857-4504-909e-2a5911ca3ba7?org_if_sml=1559"
                          class="post-page-ellipse52"
                        />
                        <span class="post-page-text78"><span>Name</span></span>
                      </div>
                      <div class="post-page-date-time3">
                        <span class="post-page-text80">
                          <span>4:57 pm</span>
                        </span>
                        <span class="post-page-text82">
                          <span>10/2/2004</span>
                        </span>
                      </div>
                    </div>
                    <div class="post-page-text84">
                      <span class="post-page-text85">
                        <span>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Integer nunc dui, ultricies vel rutrum id,
                          tincidunt vel risus. Phasellus id porta neque. Ut non
                          maximus ipsum. Curabitur vel orci mi. Maecenas cursus
                          eleifend rhoncus. Proin risus mauris, suscipit id
                          scelerisque in, fringilla nec eros. Maecenas odio
                          libero, lacinia sit amet.
                        </span>
                      </span>
                    </div>
                    <div class="post-page-votes2">
                      <div class="post-page-frame293">
                        <img
                          alt="image203679"
                          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/9d22d08e-91fb-461f-a468-b6de70af82c5/e890d06d-40ef-49df-b763-01c73badd09e?org_if_sml=11334"
                          class="post-page-image203"
                        />
                      </div>
                      <div class="post-page-frame303">
                        <img
                          alt="image323679"
                          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/9d22d08e-91fb-461f-a468-b6de70af82c5/ad8ad3ff-769c-46c6-b27d-dfe4d2782138?org_if_sml=11654"
                          class="post-page-image323"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
