{% extends "layout.html" %}

{% block title %}
    Register Page
{% endblock %}
{% block content %}

    <form action="/register" method="post">
        <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
        <input autocomplete="off" name="password" placeholder="Password" type="password">
        <input autocomplete="off" name="confirmation" placeholder="Confirm Password" type="password">
        <button type="submit">Register</button>
    </form>


{% endblock %}