<!DOCTYPE html>
<html>
    <body >
        <link href="./test.css" rel="stylesheet" />

        <h1>Auto-Growing Inputs</h1>

        <h2>Inputs</h2>

        <!-- <p><strong>Problem (doesn't resize horizontally):</strong> I would like <input class="input" value="99" type="number"> hugs.</p>

        <p><strong>Solution with span:</strong> I would like <span class="input" role="textbox" contenteditable>99</span> hugs</p> -->

        <!-- <p><strong>Solution with JS:</strong> I would like <span class="input-wrap"><span class="width-machine" aria-hidden="true">99</span><input class="input" value="99" type="number"></span> hugs.</p> -->

        <!-- <h2>Textareas</h2>

        <p><strong>Problem (doesn't resize vertically):</strong> <textarea class="textarea"></textarea></p> -->

        <p><strong>Solution with span:</strong> <span class="textarea" role="textbox" contenteditable></span></p>

        <!-- <p><strong>Solution with JS (only deals with line breaks): </strong> <textarea class="textarea resize-ta"></textarea></p> -->
    </body>
</html>
